.carousel {
  flex: 1 1 30rem;
  min-height: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: stretch;

  .carousel__active {
    position: relative;
    flex: 1 1 10rem;
    height: 100%;
    width: 100%;
  }
  .carousel__item {
    position: absolute;
    top: 0;
    left: 0;
    flex: 1 1 10rem;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    will-change: opacity;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: flex-start;
    > h3 {
      color: var(--clr-y);
      margin: 5rem 10rem;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 2rem;
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 5rem;
    }
    .carousel__discWrap {
      filter: drop-shadow(1rem 1rem 1rem rgba(0, 0, 0, 0.7));
      position: absolute;
      top: 0;
      right: 0;
      margin-right: 5rem;
      margin-top: 5rem;
    }
    .carousel__discount {
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 5rem;
      background-color: rgba(194, 226, 48, 0.8);
      color: #fff;
      padding: 3rem;
      clip-path: polygon(30px 0%, 100% 0%, 100% 100%, 30px 100%, 0 50%);
    }
    .carousel__price {
      position: absolute;
      right: 0;
      bottom: 0;
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 100;
      font-size: 4rem;
      background-color: rgba(194, 226, 48, 0.8);
      color: #fff;
      padding: 2rem;
      margin-right: 5rem;
      margin-bottom: 5rem;
      .carousel__prevPrice {
        text-decoration: line-through;
        color: gray;
      }
      .carousel__specPrice {
        text-decoration: underline;
      }
    }
  }
  .carousel__ui {
    & > *:not(:last-child) {
      margin-right: 1rem;
    }
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    .carousel__left,
    .carousel__right {
      padding: 0;
      height: 3rem;
      width: 5rem;
      background-color: #fff;
      cursor: pointer;
      border: none;
      outline: none;
      border-radius: 1000rem;
    }
    .carousel__left {
    }
    .carousel__right {
    }
    .carousel__dot {
      &:not(:last-child) {
        margin-right: 1rem;
      }
      margin: 0;
      padding: 0;
      height: 2rem;
      width: 2rem;
      background-color: darkgray;
      border-radius: 1000rem;
      outline: none;
      border: 3px solid gray;
      cursor: pointer;
    }
    button.-activeDot {
      border: 3px solid green;
      background-color: lightgreen;
    }
  }
}
