div.cartDropdown {
  position: absolute;
  top: 10rem;
  right: 0;
  width: 50rem;
  font-size: 2rem;
  background-color: var(--hfbg);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 2rem;
  border: 1px solid var(--hfbg-dark);
  transform-origin: top right;
  > ul {
    font-weight: 400;
  }
  .cartDropdown__top {
    margin-bottom: 2rem;
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .cartDropdown__heading {
    }
    .cartDropdown__details {
      text-decoration: none;
      color: var(--clr-y);
      background: var(--hfbg-dark);
      padding: 1rem;
    }
  }
}
.linkBtn {
  text-decoration: none;
  color: var(--clr-y);
  background: var(--hfbg-dark);
  padding: 1rem;
  white-space: nowrap;
}

.cart {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  .cart__heading {
    margin-top: 2rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  .cart__list {
    padding: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    grid-auto-rows: minmax(10rem, 20rem);
    justify-content: center;
    align-content: center;
  }
}
