.header {
	background-color: var(--hfbg);
	font-weight: 100;
	padding: 2rem;
	font-size: 4rem;
	border: 1px solid var(--clr);
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 100;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
	.logo {
		width: 6rem;
		height: 6rem;
	}
	.headerMenu {
		flex-grow: 1;
		display: flex;
		justify-content: flex-end;
		align-items: stretch;
		> * {
			color: inherit;
			font-weight: 100;
			text-decoration: none;
		}
		> *:not(:last-child) {
			margin-right: 2rem;
		}
		.categories__btn,
		.search {
			font-size: 4rem;
			background: none;
			border: none;
			cursor: pointer;
			font-weight: 100;
			outline: none;

			> * {
				height: 4rem;
			}
		}
		.search {
			display: flex;
			justify-content: space-between;
			align-items: center;
			grid-template-columns: 1fr min-content;
			grid-template-rows: 1fr;
			font-size: 4rem;
		}
		.basket {
			fill: green;
			cursor: pointer;
			margin-right: 0 !important;
		}
	}
	.categories__btn {
		width: 22rem;
		user-select: none;
		> span {
			font-size: 2rem;
		}
	}
}

.search__modal {
	position: fixed;
	top: 50vh;
	left: 50vw;
	transform: translate(-50%, -50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	max-width: 100rem;
	height: 100vh;
	flex: 1 1 5rem;
	font-size: 4rem;
	font-weight: 100;
	font-family: 'Roboto', Arial, Helvetica, sans-serif;
	z-index: 1000;
	> input.search__inp {
		flex: 5 1 4rem;
		width: 80%;
		font-family: 'Roboto', Arial, Helvetica, sans-serif;
		font-weight: inherit;
		font-size: inherit;
		padding-left: 5%;
		background-color: rgba(255, 255, 255, 0.5);
		border: none;
		border-bottom: 2px solid var(--clr);
		color: var(--clr);
		outline: none;
		&:focus {
			background-color: rgba(255, 255, 255, 0.95);
			border-bottom: 3px solid var(--clr);
		}
		&::placeholder {
			color: var(--clr);
			text-shadow: 0 0 1rem rgba(255, 255, 255, 0.5);
		}
	}
	> div.search__btn {
		font-family: 'Roboto', Arial, Helvetica, sans-serif;
		width: 4rem;
		height: 4rem;
		border-radius: 100rem;
		font-weight: inherit;
		font-size: inherit;
		text-align: center;
		padding: 0px;
		border: 1px solid var(--clr);
		line-height: 0.7;
		text-align: center;
		position: absolute;
		top: 50vh;
		left: 0;
		transform: translate(-115%, -150%);
		cursor: pointer;
		box-shadow: 2px 2px 1rem rgba(0, 0, 0, 0.5);
		text-shadow: 0 0 1rem rgba(255, 255, 255, 0.9);
		background-color: rgba(255, 255, 255, 0.7);
		transition: all 0.3s;
		&:hover {
			background-color: rgba(255, 255, 255, 0.95);
		}
		&:active {
			background-color: rgba(255, 255, 255, 1);
			box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.5);
		}
	}
}
.search__wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
}

div.search__overlay {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	z-index: 500;
	position: absolute;
	top: 0;
	left: 0;
	background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
}
.categories__body {
	position: absolute;
	background-color: var(--hfbg-dark);
	border-bottom: 5px ridge var(--hfbg);
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.5);
	width: 100%;
	top: 0;
	padding: 5rem 3rem 2rem 3rem;
	left: 0;
	z-index: 50;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 2rem;
	.categoriesItem {
		flex-grow: 1;
		text-decoration: none;
		color: var(--clr-y);
		display: flex;
		height: 10rem;
		justify-content: flex-start;
		align-items: flex-end;
		border: 1px solid var(--hfbg);
		border-radius: 50rem 0 50rem 0;
		padding: 2rem;
		background-size: cover;
		background-repeat: no-repeat;
		> span {
			background-color: rgba(0, 0, 0, 0.5);
			padding: 5px;
		}
	}
	.flowers {
		background-image: url('../../img/flowers.jpg');
	}
	.seeds {
		background-image: url('../../img/seeds.jpg');
	}
	.fertilizers {
		background-image: url('../../img/fertilizers.jpg');
	}
	.tools {
		background-image: url('../../img/tools.jpg');
	}
}
