.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding-top: 3rem;
  h1.home__heading {
    font-family: inherit;
    font-weight: inherit;
    padding-top: 3rem;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: underline;
    color: green;
    .logo {
      width: 8rem;
      height: 8rem;
    }
  }

  div.home__content {
    margin-top: 3rem;
    flex: 1 1 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    .home__specHeading {
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 100;
      margin: 2rem auto;
    }
    .home__spec {
      flex: 1 1 30rem;
      min-height: 50rem;
      height: 100%;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
    }
  }

  .home__about {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    .home__playerWrap {
      width: 100%;
      max-width: 90rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .home__player {
      width: 100%;
      box-shadow: 0 1rem 1rem 2px rgba(0, 0, 0, 0.5);
    }
    .controls {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 5rem;
      background: none;
      overflow: hidden;
    }
    .buttons {
      > button.play {
        display: flex;
        justify-content: center;
        align-items: center;
        background: var(--hfbg-dark);
        color: var(--clr-y);
        border: none;
        outline: none;
        cursor: pointer;
        width: 5rem;
        height: 5rem;
      }
    }
    .bar {
      height: 100%;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      .bar__content {
        height: 100%;
        width: 2px;
        background-color: rgba(green, 0.7);
      }
    }
  }
}
