.home {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding-top: 3rem;
  h1.home__heading {
    font-family: inherit;
    font-weight: inherit;
    padding-top: 3rem;
    font-size: 6rem;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-decoration: underline;
    color: green;
    .logo {
      width: 8rem;
      height: 8rem;
    }
  }

  div.home__content {
    margin-top: 3rem;
    flex: 1 1 10rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
    .home__specHeading {
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 100;
      margin: 2rem auto;
    }
    .home__spec {
      flex: 1 1 30rem;
      min-height: 50rem;
      height: 100%;
      display: flex;
      justify-content: stretch;
      align-items: stretch;
    }
  }
}
