.productList {
  width: 100%;
  min-height: 100%;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  flex-direction: column;
  .productList__category {
    text-align: center;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
    padding-top: 3rem;
    padding-bottom: 3rem;
    background-color: var(--hfbg-light);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
    box-shadow: inset 0 0 1rem 0 rgba(0, 0, 0, 0.5);
  }
  .productList__heading {
    margin-top: 2rem;
    text-align: center;
    font-size: 5rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
  }
  .productList__search {
    margin: 0 auto;
    padding: 1.5rem;
    .productList__legend {
      padding: 5px;
      border: 2px solid var(--clr);
    }
    // .productList__options {

    // }
    .productList__clearBtn {
      padding: 1rem;
      cursor: pointer;
      font-size: 1.5rem;
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 300;
      background-color: var(--hfbg-dark);
      color: rgba(255, 255, 255, 0.7);
      border: none;
      transition: all 0.3s;
      &:hover span {
        color: darkred;
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
      }
      > span {
        transition: all 0.3s;
        display: inline-block;
        margin: 0;
        padding: 5px;
        font-size: 3rem;
        line-height: 0;
      }
    }
  }
  .productList__body {
    padding: 3rem;
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 20rem));
    grid-auto-rows: minmax(10rem, 20rem);
    justify-content: center;
    align-content: center;

    .productList__item {
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 100;
      display: flex;
      justify-content: center;
      align-items: center;
      background-position: 60% 50%;
      background-size: cover;
      background-repeat: no-repeat;
      background-origin: border-box;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5);
      border: 5px double var(--hfbg);
      border-radius: 7px;

      > ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: relative;
        .discountWrap {
          position: absolute;
          top: 5px;
          right: 0;
          filter: drop-shadow(0px 5px 5px rgba(50, 50, 0, 0.5));
          .discount {
            background-color: var(--clr-y);
            color: #fff;
            padding: 5px;
            clip-path: polygon(10px 0%, 100% 0%, 100% 100%, 10px 100%, 0 50%);
          }
        }

        .item__heading {
          position: absolute;
          top: 0;
          left: 0;
          font-family: 'Roboto', Arial, Helvetica, sans-serif;
          font-weight: 100;
        }
        .item__addBtn {
          position: absolute;
          bottom: 0;
          left: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            border: none;
            outline: none;
            cursor: pointer;
            text-decoration: none;
            color: var(--clr-y);
            background: var(--hfbg-dark);
            padding: 1rem;
            white-space: nowrap;
          }
        }
        .item__price {
          position: absolute;
          bottom: 0;
          right: 0;
          height: 4rem;
          min-width: 6rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .item__amount {
          position: absolute;
          top: 50%;
          left: 0;
          transform-origin: 0% 0%;
          transform: rotate(-90deg) translateX(-50%);
        }
      }

      > ul > * {
        padding: 2px;
        list-style: none;
        background-color: rgba(0, 0, 0, 0.5);
        color: rgba(255, 255, 255, 0.9);
      }
    }
  }
}
