.reglog {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 100;
  padding-top: 3rem;
  justify-content: flex-start;
  align-items: center;
  &__nav {
    margin-top: 5rem;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 100;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    .reglog__navItem {
      text-decoration: none;
      color: var(--clr);
      background-color: var(--hfbg);
      font-size: 4rem;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      transition: all 0.3s;
      position: relative;
      z-index: 10;
      box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.2);
    }
    .-regActive {
      //   text-decoration: line-through;
      color: var(--clr-y);
      background-color: var(--hfbg-dark);
      z-index: 11;
      box-shadow: 2px 1rem 1rem 0 rgba(0, 0, 0, 0.5);
      transform: perspective(50rem) translate3d(0, 0, 4rem);
    }
  }
  &__body {
    margin: 4rem 0;
    height: 100%;
    background-color: var(--hfbg-light);
    padding: 3rem;
    min-width: 55rem;
    box-shadow: 2px 1rem 1rem 0 rgba(0, 0, 0, 0.5);
    animation: 0.3s ease-in 1s forwardBody;

    .reglog__regHeading,
    .reglog__logHeading {
      font-family: inherit;
      font-weight: inherit;
      font-size: 3rem;
    }
    .reglog__reg,
    .reglog__log {
      height: 100%;
      font-family: 'Roboto', Arial, Helvetica, sans-serif;
      font-weight: 100;
      display: flex;
      flex-direction: column;
    }
    .reglog__regForm,
    .reglog__logForm {
      margin-top: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      & > input {
        width: 100%;
        margin-bottom: 2rem;
        font-size: 3rem;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        font-weight: 100;
        padding: 5px;
        transition: all 0.3s;
        background-color: rgba(255, 255, 255, 0.5);
        border: none;
        box-shadow: inset 0px 0px 2px rgba(0, 0, 0, 0.5);
        text-indent: 2rem;
        &:active {
          outline: 2px solid lighten(green, 20%);
        }
        &:focus {
          outline: 2px solid green;
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
      & > button {
        padding: 5px 5rem;
        font-size: 2.5rem;
        cursor: pointer;
        background-color: var(--hfbg-dark);
        color: var(--clr-y);
        border: none;
        outline: none;
      }
    }
  }
  .gotoGoods {
    padding: 2px 1rem;
    background-color: var(--hfbg-dark);
    color: var(--clr-y);
    text-decoration: none;
  }
}

@keyframes forwardBody {
  0% {
    box-shadow: 0px 0rem 0rem 0 rgba(0, 0, 0, 0.1);
  }
  100% {
    box-shadow: 2px 1rem 1rem 0 rgba(0, 0, 0, 0.5);
  }
}
