html,
body,
#root {
  height: 100%;
  font-size: 62.5%;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-rows: min-content;
  grid-auto-rows: 1fr;
  font-size: 2rem;
  max-width: 120rem;
  min-height: 100vh;
  margin: 0 auto;
  overflow-x: hidden;
  color: var(--clr);
  background-color: var(--bg);
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

body::-webkit-scrollbar {
  width: 3rem;
  // border-left: 1px solid var(--clr);
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px 3px rgba(green, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(darkgreen, 0.5);
  background-image: radial-gradient(lightgreen, darkgreen);
  outline: 1px solid slategrey;
  box-shadow: inset 0 0 5px 5px rgba(green, 0.3);
  border-top-left-radius: 100rem;
  border-bottom-right-radius: 100rem;
  border: 2px solid transparent;
  &:hover {
    border: 2px solid darkgreen;
  }
  &:active {
    border: 2px solid lighten(darkgreen, 20%);
  }
}
::selection {
  background-color: green;
  color: rgba(255, 255, 255, 0.7);
}

@media only screen and (max-width: 745px) {
  html,
  body,
  #root {
    font-size: 56.5%; // 62.5% from 16px is 10px === 1rem, 56.5% === 9px, 8px is 50%
  }
}

@media only screen and (max-width: 665px) {
  html,
  body,
  #root {
    font-size: 50%; // 62.5% from 16px is 10px === 1rem, 56.5% === 9px, 8px is 50%
  }
}
